<p id="notice"><%= notice %></p>

<h1>Insumos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo unidad</th>
      <th>Cantidad</th>
      <th>Valor unit</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insumos.each do |insumo| %>
      <tr>
        <td><%= insumo.nombre %></td>
        <td><%= insumo.tipo_unidad %></td>
        <td><%= insumo.cantidad %></td>
        <td><%= insumo.valor_unit %></td>
        <td><%= insumo.total %></td>
        <td><%= link_to 'Show', insumo %></td>
        <td><%= link_to 'Edit', edit_insumo_path(insumo) %></td>
        <td><%= link_to 'Destroy', insumo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insumo', new_insumo_path %>
