<p id="notice"><%= notice %></p>

<h1>Telas Recibida</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Tipo unidad</th>
      <th>Cantidad recibida</th>
      <th>Val unit</th>
      <th>Cantidad devuelta</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @telas_recibida.each do |tela_recibida| %>
      <tr>
        <td><%= tela_recibida.descripcion %></td>
        <td><%= tela_recibida.tipo_unidad %></td>
        <td><%= tela_recibida.cantidad_recibida %></td>
        <td><%= tela_recibida.val_unit %></td>
        <td><%= tela_recibida.cantidad_devuelta %></td>
        <td><%= tela_recibida.total %></td>
        <td><%= link_to 'Show', tela_recibida %></td>
        <td><%= link_to 'Edit', edit_tela_recibida_path(tela_recibida) %></td>
        <td><%= link_to 'Destroy', tela_recibida, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tela Recibida', new_tela_recibida_path %>
